<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="icon" href="./assets/weather.png">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>{{message}}</p>

        <form id="form" class="form">
            <input placeholder="Location" id="input" class="input">
            <button id="button" class='button' type="submit">Search</button>
        </form>

        <div class="forecast_results">
            <h3 class="forecast_title">Forecast</h3>
            <p class="forecast" id='forecast_label'></p>
            <h3 class="location_title">Location</h3>
            <p class="location" id='location_label'></p>
        </div>
        
    </div>

    {{>footer}}

    <script src="./js/app.js"></script>
</body>
</html>